.footer {
  width: 100%;
  max-width: 1024px;
  font-size: 12px;
  margin: 50px auto;
}

.fLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:20px 50px;
  margin-bottom: 50px;
}

.fList {
  list-style: none;
  padding: 0;
}

.fListItem {
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
}

.fText {
   text-align: center;
}

@media (max-width:1024px) {
  .fLists {
     justify-content: space-around;
  }
}

@media (max-width:768px) {
  .fLists {
     justify-content: center;
  }
}